.badge {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  &::before {
    content: "•"; /* Dodaje tačku */
    margin-right: 0.2em; /* Razmak između tačke i teksta */
    vertical-align: middle; /* Poravnanje tačke sa tekstom */
    font-size: 2em;
    top: 1.7px;
    position: relative;
  }
}
.tableRow23 {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
}
