<div
  *ngIf="isOpen || isClosing"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 bg-contain flex justify-start items-start z-50 translate-x-3 transition-all duration-300"
  [ngClass]="{
    'animate-opacity': isOpen && !isClosing,
    'animate-opacityReverse ': isClosing
  }"
  (click)="closeModal()"
>
  <div
    class="w-64 h-full bg-white shadow-lg animate animate-fadeInFromLeft"
    [ngClass]="{
      'animate-fadeInFromLeft': isOpen && !isClosing,
      'animate-fadeOutToLeft': isClosing
    }"
    (click)="$event.stopPropagation()"
  >
    <!-- Close button -->
    <button
      class="text-gray-500 hover:text-gray-700 absolute top-4 right-4"
      (click)="closeModal()"
    >
      &times;
    </button>

    <!-- Modal content -->
    <div class="p-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
