// Colors
$primary: #7c50fa; // 1
$primary-light: #9277ff; // 2
$gunmetal: #1e2139; // 3
$charcoal-blue: #252945;
$lavender-light: #dfe3fa;
$cool-gray: #888ebd;
$glaucous: #7e80c3;
$licorice-black: #0c0e16;
$fire-red: #ec5757;
$soft-red: #ff9797;
$ghost-white: #f8f9fa;
$black: #141625; //12
