<div class="flex h-screen">
  <app-sidebar></app-sidebar>

  <div class="ml-24 animation p-6 bg-ghostWhite min-h-screen">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-button
  buttonText="New Invoice"
  buttonType="primary"
  (onClick)="createInvoice()"
>
</app-button>

<app-button
  buttonText="New Invoice"
  buttonType="primary-icon"
  [showIcon]="true"
  (onClick)="createInvoice()"
>
</app-button>

<app-button buttonText="Edit" buttonType="default" (onClick)="markAsPaid()">
</app-button>

<app-button
  buttonText="Save as Draft"
  buttonType="secondary"
  (onClick)="markAsPaid()"
>
</app-button>

<app-button buttonText="Delete" buttonType="danger" (onClick)="deleteInvoice()">
</app-button>

<app-button
  buttonText="New Invoice"
  buttonType="default-icon"
  [showIcon]="true"
  (onClick)="createInvoice()"
>
</app-button> -->
