<!-- Fiksiran levo sidebar -->
<div
  class="flex flex-col w-24 bg-[#373B53] text-white fixed h-full justify-between"
>
  <!-- Logo -->
  <div class="flex items-center justify-center h-16">
    <img src="assets/img/Group.svg" alt="Logo" />
  </div>
  <div class="items-center">
    <!-- Theme Switch -->
    <div class="flex items-center justify-center py-4">
      <icon-moon> </icon-moon>
    </div>

    <!-- Slika korisnika -->
    <div class="flex items-center justify-center py-4">
      <img
        src="assets/img/image-avatar.jpg"
        alt="User"
        class="w-10 h-10 rounded-full"
      />
    </div>
  </div>
</div>
